# Spring Boot (PZ backend)
PZ/HELP.md
PZ/target/
PZ/.mvn/wrapper/maven-wrapper.jar
PZ/!**/src/main/**/target/
PZ/!**/src/test/**/target/

### STS ###
PZ/.apt_generated
PZ/.classpath
PZ/.factorypath
PZ/.project
PZ/.settings
PZ/.springBeans
PZ/.sts4-cache

### IntelliJ IDEA ###
PZ/.idea
PZ/*.iws
PZ/*.iml
PZ/*.ipr

### NetBeans ###
PZ//nbproject/private/
PZ//nbbuild/
PZ//dist/
PZ//nbdist/
PZ//.nb-gradle/
PZ/build/
PZ/!**/src/main/**/build/
PZ/!**/src/test/**/build/

### VS Code ###
PZ/.vscode/
PZ/src/main/resources/application.properties

# Frontend
pz-frontend/node_modules/
pz-frontend/dist/
pz-frontend/.vscode/
pz-frontend/.env.local
pz-frontend/.env.*.local
